<?xml version="1.0"?>
<config>
    <modules>
        <Comwrap_Pdf>
            <version>1.0</version>
        </Comwrap_Pdf>
    </modules>
    <global>
        <models>
            <comwrap_pdf>
                <class>Comwrap_Pdf_Model</class>
            </comwrap_pdf>

            <sales>
                <rewrite>
                    <order_pdf_invoice>Comwrap_Pdf_Model_Sales_Order_Pdf_Invoice</order_pdf_invoice>
                    <order_pdf_shipment>Comwrap_Pdf_Model_Sales_Order_Pdf_Shipment</order_pdf_shipment>
                    <order_pdf_creditmemo>Comwrap_Pdf_Model_Sales_Order_Pdf_Creditmemo</order_pdf_creditmemo>
                </rewrite>
            </sales>
        </models>
        <blocks>
            <comwrap_pdf>
                <class>Comwrap_Pdf_Block</class>
            </comwrap_pdf>
        </blocks>
        <helpers>
            <comwrap_pdf>
                <class>Comwrap_Pdf_Helper</class>
            </comwrap_pdf>
        </helpers>
        <resources>
            <comwrap_pdf_setup>
                <setup>
                    <module>Comwrap_Pdf</module>
                </setup>
            </comwrap_pdf_setup>
        </resources> 
    </global>
    <frontend>
        <routers>
            <customersync>
                <use>standard</use>
                <args>
                    <module>Comwrap_Pdf</module>
                    <frontName>pdf</frontName>
                </args>
            </customersync>
        </routers>
        <layout>
            <updates>
                <comwrap_pdf>
                    <file>comwrap/pdf.xml</file>
                </comwrap_pdf>
            </updates>
        </layout>
    </frontend>
</config>